@charset "UTF-8";

html,body {
	font-size: 16px;
	line-height: 145%;
}

/*----------------------------------------INTERFACE STYLES----------------------------------------*/

#mainBody {
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 210px;
	max-width: 1000px;
}

#mainColumn {
	float: left;
	margin-right: 20px;
}

#rightColumn {
	float: right;
	width: 300px;
}

#icpMessage{
	font-family: sans-serif;
	font-size: 10pt;
	width: 100%;
	position: relative;
	top: 4px;
}

h1 {
	font-size: 36px;
	padding-top: 5px;
}

h2 {
	font-size: 20px;
}

blockquote {
	padding: 10px 40px 10px 40px;
}

/*----------------------------------------HEADER----------------------------------------*/

header,
#headerOldBrowsers {
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	width: 100%;
}

#logo {
	background-image: url('../images/logo.png');
	background-size: contain;
	height: 55px;
	margin-top: 7px;
}

#btnFacebook {
	right: 30px;
	top: 24px;
}

#btnGoogle {
	right: 0px;
	top: 24px;
}

/*----------------------------------------SUBHEAD----------------------------------------*/

#subHead {
	background-color: #dadada;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	padding: 9px 0 8px 0;
	text-align: center;
	width: 1000px;
}

#nav {
	display: block;
}

#navMobile {
	display: none;
}

.navLink:link {
	color: #666;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	font-weight: 700;
	padding: 0 6px 0 6px;
	text-decoration: none;
} 
.navLink:visited {         
	color: #666;
}
.navLink:hover {     
	color: #4a7d36;
}

.navLinkON {
	color: #999;
	cursor: pointer;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	font-weight: 700;
	padding: 0 6px 0 6px;
	text-decoration: none;
}

/*----------------------------------------SLIDER----------------------------------------*/

#slider {
	height: 81px;
	overflow: hidden;
	width: 100%;
}

#sliderContainer {
	margin-left: auto;
	margin-right: auto;
	margin-top: 9px;
	overflow: hidden;
	position: relative;
	width: 1000px;
}

.sliderContent {
	margin-left: auto;
	margin-right: auto;
}

.sliderElement {
	border-color: #dadada;
	border-style: solid;
	border-width: 1px;
	color: #777;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 13px;
	font-weight: 700;
	height: 50px;
	line-height: 125%;
	margin: 0 4px 0 4px;
	padding: 10px;
	width: 205px;
}
.sliderElement:hover {
	color: #4a7d36;
	cursor: pointer;
}

.photoSlider {
	float: left;
	height: 50px;
	margin-right: 10px;
	width: 50px;
}

.btnPrevious {
	background: none;
	border: none;
	color: #ccc;
	cursor: pointer;
	font-family: 'Cabin', sans-serif;
	font-size: 60px;
	font-weight: 700;
	left: 0;
	line-height: 100%;
	margin: 0;
	padding: 2px 0 9px 0;
	position: absolute;
	top: 0;
}
.btnPrevious:hover {
	color: #666;
}

.btnNext {
	background: none;
	border: none;
	color: #ccc;
	cursor: pointer;
	font-family: 'Cabin', sans-serif;
	font-size: 60px;
	font-weight: 700;
	line-height: 100%;
	margin: 0;
	padding: 2px 0 9px 0;
	position: absolute;
	right: 0;
	top: 0;
}
.btnNext:hover {
	color: #666;
}

/*----------------------------------------ROTATING ARTICLES----------------------------------------*/

/*----------------------------------------CATEGORY PAGE TOP ARTICLE----------------------------------------*/

#categoryArticle {
	background-color: #fff;
	border-style: none;
	cursor: pointer;
	height: 300px;
	margin: 20px 0 20px 0;
	width: 680px;
}

/*----------------------------------------TOP HEADLINES----------------------------------------*/

#topHeadlines {
	background-color: #fff;
	border-style: none;
	margin-bottom: 10px;
	width: 680px;
}

.articleTopHeadlines {
	height: 125px;
}

.photoTopHeadlines {
	border-style: none;
	float: left;
	height: 125px;
	margin-right: 7px;
	position: relative;
	width: 125px;
}

.headlineTopHeadlines {
	font-size: 18px;
}

/*----------------------------------------TOP STORY **MOBILE ONLY**----------------------------------------*/

#mobileTop {
	display: none;
}

/*----------------------------------------CATEGORY CONTENT----------------------------------------*/

#categoryHeadlines {
	background-color: #fff;
	border-color: #aaa;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 8px;
	padding: 10px;
	width: 670px;
}

/*----------------------------------------ARTICLE CONTENT----------------------------------------*/

#articleContent {
	background-color: #fff;
	border-style: none;
	margin: 10px 0 20px 0;
	width: 680px;
}

.photoArticle {
	border-style: none;
	float: right;
	height: 300px;
	margin: 0 0 15px 20px;
	position: relative;
	width: 300px;
}

.photoArticleMobile {
	display: none;
}

/*----------------------------------------FACEBOOK----------------------------------------*/

/*----------------------------------------AD SPACE 300x250----------------------------------------*/

/*----------------------------------------AD SPACE OUTBRAIN----------------------------------------*/

/*----------------------------------------FOOTER----------------------------------------*/

/*----------------------------------------FORM STYLES----------------------------------------*/

/*----------------------------------------ADVERTORIAL STYLES----------------------------------------*/

.advertorialCallContainer {
	max-width: 350px;
}